div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 10px;
    border-width: 5px;
    border-style: dashed;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}