header{
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;   
}
#gmail{
    margin-left: 15px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
#images{
    margin-left: 15px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.logo{
    width: 280px;
    margin-bottom: 30px;
}
.search{
    width: 600px;
    font-size: 16px;
    border-radius: 24px;
    border: solid;
}
footer{
    position: fixed;
    font-size: 14px;
    bottom: 0px;
    margin-bottom: 320px;
}
#vscode{
    margin-right: 15px;
    text-decoration: none;
    color: #555;

}
#whatsapp{
        margin-right: 15px;
    text-decoration: none;
    color: #555;

}