div{
    height: 300px;
    width: 300px;
    background-image:url(https://wallpapercave.com/wp/wp2597418.jpg) ;
    border-style: solid;


}
div{
    position: fixed;
    right: 0px;
    
}
.image{
    z-index: 1;
}