div{
    height: 50px;
    background-color: black;
}
#text{
    color: white;
    margin-left: 300px;
}
#name{
    color: white;
    margin-left: 300px;
}
#initial{
    color: white;
    margin-left: 300px;
}
#id1{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-style: solid;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
}
#id2{
    background-color: green;
    width: 100px;
    height: 100px;
    border-style: solid;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;

}
#id3{
    background-color: red;
    width: 100px;
    height: 100px;
    border-style: solid;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
}
div{
    margin-top: 30px;
    height: 50px;
}
footer{
    background-color: white;
    text-align: center;
    padding-bottom: 70px;
}
